@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #212E28, #020202);
  font-family: 'Instrument Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, select {
  font-size: 20px !important;
  font-family: 'Instrument Serif', serif !important;
}

#root {
  min-height: 100vh;
}
